body {
    padding: 0;
    margin: 0;
}

.cbtn {
    width: 100%;
    height: 1em;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.play {
    width: 3%;
}
.playBtn {
    background: url("Media/Play.png");
}
.pauseBtn {
    background: url("Media/Pause.png");
}

.volume {
    width: 3%;
}
.unmuted {
    background: url("Media/Unmuted.png");
}
.muted {
    background: url("Media/Muted.png");
}

ul.controls {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    width: 50%;
    height: 2em;
    background: white;
    opacity: 0;
    transition: opacity 0.35s;
    top: -2em;
    z-index: 9;
}

ul.controls li {
    float: left;
    display: inline-block;
    padding: .5em 4px;
}

.slide {
    margin-top: 1px;
    width: 80%;
}
.slideBtn {
    width: 100%;
}

#player {
    z-index: -1;
    filter: invert();
}

#player:hover + .controls { opacity: 1; }
.controls:hover { opacity: 1; }